In [13]:
import requests
from bs4 import BeautifulSoup
import time
import numpy as np
import urllib
import os
import pandas as pd
from selenium import webdriver
from time import sleep
import re
from selenium.webdriver.common.keys import Keys

In [19]:
def page_scrap (job_url):
    
    driver = webdriver.Chrome(executable_path="/Users/yesplum/desktop/GApro/chromedriver/chromedriver")
    driver.get(job_url)
    sleep(5)
    html = driver.page_source
    sleep(3)
    driver.close()
    soup = BeautifulSoup(html, 'lxml', from_encoding="utf-8")
    
    job_title = []
    company = []
    job_id = []
    seniority = []
    job_cat = []
    salary = []
    requirements = []
    post_date = []

    for entry in soup.find_all('h1', {'id': "job_title"}):
        job_title.append(entry.renderContents())

    for entry in soup.find_all('p', {'name': "company"}):
        company.append(entry.renderContents())

    for entry in soup.find_all('span', {'class': "black-60 db f6 fw4 mv1"}):
        job_id.append(entry.renderContents())
    
    for entry in soup.find_all('p', {'id': "seniority"}):
        seniority.append(entry.renderContents())

    for entry in soup.find_all('p', {'id': "job-categories"}):
        job_cat.append(entry.renderContents()) 

    for entry in soup.find_all('span', {'id': "last_posted_date"}):
        post_date.append(entry.renderContents())     

    salary_all = soup.find_all("span", attrs={'class': 'dib'})
    list_of_inner_text = [x.text for x in salary_all]
    salary_text = '/ '.join(list_of_inner_text)
    salary.append(salary_text)

    requirement_all = soup.find_all("div", attrs={'id': 'requirements'})
    list_of_inner_text = [x.text for x in requirement_all]
    requirements_text = ', '.join(list_of_inner_text)
    requirements.append(requirements_text)

    
    data = pd.DataFrame(columns = ['Job_Id','Job_Title','Company','Date_Posted','Salary',
                                   'Seniority','Category','Requirements'])

    data = data.append({'Job_Id':job_id,'Job_Title':job_title,'Company':company,
                    'Date_Posted':post_date,'Salary':salary,'Seniority':seniority,
                    'Category':job_cat,'Requirements':requirements},ignore_index=True) 

    return data

In [20]:
driver = webdriver.Chrome(executable_path="/Users/yesplum/desktop/GApro/chromedriver/chromedriver")
driver.get("https://www.mycareersfuture.sg/")
elem = driver.find_element_by_name("search-text")
elem.send_keys("data") #job search keyword
elem.send_keys(Keys.RETURN)
sleep(3)
current_url = driver.current_url
sleep(3)
driver.close()

y=0
links = []

for page in range(2):
    
    new_next_url = current_url.replace('page=' + str(y),'page=' +str(page))
    #print(new_next_url)

    driver2 = webdriver.Chrome(executable_path="/Users/yesplum/desktop/GApro/chromedriver/chromedriver")
    driver2.get(new_next_url)
    sleep(3)
    html1 = driver2.page_source 
    driver2.close()

    soup = BeautifulSoup(html1, 'lxml', from_encoding="utf-8")

    for entry in soup.find_all("a", attrs={'class': re.compile(r'JobCard')}):
        link = entry.get('href')
        links.append(link)

In [21]:
job_df = pd.DataFrame()

for i in range (len(links)):
    job_url  =  "https://www.mycareersfuture.sg%s" % links[i]
    temp_df = page_scrap(job_url)
    job_df = job_df.append(temp_df, ignore_index=True)

,Job_Id,Job_Title,Company,Date_Posted,Salary,Seniority,Category,Requirements
0,[b' JOB-2019-0088700 '],"[b'Manager, Clinical Data Management']",[b'TESSA THERAPEUTICS LTD.'],[b'Posted 25 Apr 2019'],[/ Salary undisclosed/ / Closing on 25 May 2019],[b'Manager'],[b'Healthcare / Pharmaceutical'],[RequirementsRequirements Bachelor’s or Maste...
1,[b' JOB-2019-0088666 '],[b'Senior Data Analyst'],[b'PROPERTYGURU PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $6,000to$8,000/ $6,000/ to$8,000/ Monthly/ ...","[b'Professional, Senior Executive']","[b'Engineering, Information Technology']",[Requirements Bachelor’s degree in IT or relev...
2,[b' JOB-2019-0088485 '],[b'Senior Level Data Engineer'],[b'TRAVELOKA SERVICES PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $8,300to$15,000/ $8,300/ to$15,000/ Monthly...",[b'Senior Executive'],[b'Information Technology'],"[Requirements Passion in big data, software e..."
3,[b' JOB-2019-0058738 '],[b'Data Analyst'],[b'INNOSPIRE PTE. LTD.'],[b'Posted 25 Apr 2019'],[/ Salary undisclosed/ / Closing on 25 May 2019],[b'Senior Executive'],[b'Information Technology'],"[Requirements Degree in Mathematics, Economi..."
4,[b' JOB-2019-0088798 '],[b'Senior SAP\xc2\xae Data Migration Consultant'],[b'CPM CONSULTING PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $6,000to$8,000/ $6,000/ to$8,000/ Monthly/ ...",[b'Professional'],[b'Consulting '],[RequirementsBase Location: Singapore Qualif...
5,[b' JOB-2019-0088223 '],"[b'Data Centre Sales Director, Asia']",[b'GEORGE FISCHER PTE LTD'],[b'Posted 25 Apr 2019'],[/ Salary undisclosed/ / Closing on 25 May 2019],[b'Senior Management'],"[b'Engineering, Manufacturing']","[Requirements Positive attitude, motivation fo..."
6,[b' JOB-2019-0088175 '],[b'TEMP (RESEARCH AND DATA) \xe2\x80\x93 MAY T...,[b'Ministry of Communications and Information'],[b'Posted 25 Apr 2019'],[/ Salary undisclosed/ / Closing on 01 May 2019],[b''],[b'Public / Civil Service'],[]
7,[b' JOB-2019-0088262 '],[b'Data Migration Manager'],[b'STANDARD CHARTERED BANK (SINGAPORE) LIMITED'],[b'Posted 25 Apr 2019'],"[/ $8,000to$14,999/ $8,000/ to$14,999/ Monthly...",[b'Manager'],"[b'Banking and Finance, Information Technology']",[RequirementsOur Ideal Candidate - Minimum 8 ...
8,[b' JOB-2019-0088577 '],[b'Senior Level Data Scientist'],[b'TRAVELOKA SERVICES PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $8,300to$15,000/ $8,300/ to$15,000/ Monthly...",[b'Executive'],[b'Information Technology'],[Requirements Solid programming skills and un...
9,[b' JOB-2019-0088557 '],[b'Mid - Senior Level Data Scientist'],[b'TRAVELOKA SERVICES PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $6,100to$10,700/ $6,100/ to$10,700/ Monthly...",[b'Executive'],[b'Information Technology'],[Requirements Solid programming skills and un...
10,[b' JOB-2019-0088535 '],[b'Mid Level Data Scientist'],[b'TRAVELOKA SERVICES PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $4,300to$7,600/ $4,300/ to$7,600/ Monthly/ ...",[b'Executive'],[b'Information Technology'],[Requirements Solid programming skills and un...
11,[b' JOB-2019-0088518 '],[b'Junior - Mid Level Data Scientist'],[b'TRAVELOKA SERVICES PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $3,000to$6,000/ $3,000/ to$6,000/ Monthly/ ...",[b'Fresh/entry level'],[b'Information Technology'],[Requirements Solid programming skills and un...
12,[b' JOB-2019-0088339 '],"[b'SVP, Program Manager (Data Analytic), Insti...",[b'DBS BANK LTD.'],[b'Posted 25 Apr 2019'],"[/ $10,000to$20,000/ $10,000/ to$20,000/ Month...",[b'Senior Management'],[b'Information Technology'],[Requirements At least 15 years of solid exper...
13,[b' JOB-2019-0088343 '],[b'Data Scientist'],[b'OVERSEA-CHINESE BANKING CORPORATION LIMITED'],[b'Posted 25 Apr 2019'],"[/ $4,800to$8,000/ $4,800/ to$8,000/ Monthly/ ...",[b'Professional'],[b'Banking and Finance'],[Requirements Degree in a quantitative subject...
14,[b' JOB-2019-0088556 '],[b'Data Entry Clerk'],[b'SRI MURUGAN MANUFACTURING PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $1,500to$2,000/ $1,500/ to$2,000/ Monthly/ ...",[b'Non-executive'],[b'Admin / Secretarial'],[Requirements- EXP IN DATA ENTRY FOR ACCONTS W...
15,[b' JOB-2019-0088506 '],[b'Data Engineering Lead'],[b'TRAVELOKA SERVICES PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $8,300to$15,000/ $8,300/ to$15,000/ Monthly...",[b'Manager'],[b'Information Technology'],"[Requirements Passion in big data, software e..."
16,[b' JOB-2019-0088474 '],[b'Data Centre Engineer'],[b'IX TECHNOLOGY PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $2,500to$3,000/ $2,500/ to$3,000/ Monthly/ ...",[b'Executive'],"[b'Building and Construction, Engineering']",[Requirements Associates degree or above in a ...
17,[b' JOB-2019-0088344 '],"[b'VP, Data Development Lead, Institutional Ba...",[b'DBS BANK LTD.'],[b'Posted 25 Apr 2019'],"[/ $10,400to$18,700/ $10,400/ to$18,700/ Month...",[b'Senior Management'],[b'Information Technology'],[Requirements Degree in Computing / Computer S...
18,[b' JOB-2019-0056439 '],[b'Project Manager (Data Centre)'],[b'CHONG SENG CONSULTANTS PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $8,000to$12,000/ $8,000/ to$12,000/ Monthly...",[b'Manager'],[b'Building and Construction'],[Requirements With at least 8 - 10 years of re...
19,[],[],[],[],[],[],[],[]
20,[b' JOB-2019-0088600 '],[b'Web Application Developer'],[b'NTT DATA SINGAPORE PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $6,000to$9,000/ $6,000/ to$9,000/ Monthly/ ...",[b'Senior Executive'],[b'Information Technology'],[Requirements 2+ years of experience in Lifera...
21,[],[],[],[],[],[],[],[]
22,[b' JOB-2019-0088590 '],[b'Full Stack Developer'],[b'NTT DATA SINGAPORE PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $5,000to$7,000/ $5,000/ to$7,000/ Monthly/ ...",[b'Senior Executive'],"[b'Banking and Finance, Information Technology']","[Requirements UI: Angular 4, Bootstrap, HTML U..."
23,[b' JOB-2019-0087592 '],[b'Editorial Director'],[b'INTERNATIONAL DATA CORPORATION ASIA/PACIFIC...,[b'Posted 25 Apr 2019'],"[/ $110,000to$130,000/ $110,000/ to$130,000/ A...","[b'Senior Management, Professional']","[b'Advertising / Media , Information Technolog...",[Requirements Candidates should have a minimum...
24,[b' JOB-2019-0088750 '],[b'Staff Software Engineer'],[b'TWITTER ASIA PACIFIC PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $14,500to$16,000/ $14,500/ to$16,000/ Month...",[b'Senior Management'],[b'Information Technology'],[RequirementsRequirements: B.S. and/or M.S. i...
25,[b' JOB-2019-0088150 '],[b'Senior Hadoop Engineer'],[b'ENSIGN INFOSECURITY (SINGAPORE) PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $6,000to$7,000/ $6,000/ to$7,000/ Monthly/ ...",[b'Senior Executive'],[b'Information Technology'],"[Requirements Overall 8+ years IT experience, ..."
26,[b' JOB-2019-0088832 '],[b'Lead Consultant'],[b'CPM CONSULTING PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $7,000to$10,000/ $7,000/ to$10,000/ Monthly...",[b'Professional'],[b'Information Technology'],[RequirementsQualifications: 6-8 Years SAP Te...
27,[b' JOB-2019-0088744 '],[b'Consultant'],[b'CPM CONSULTING PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $6,000to$8,000/ $6,000/ to$8,000/ Monthly/ ...",[b'Professional'],[b'Information Technology'],[RequirementsQualifications: 4-6 Years SAP Te...
28,[b' JOB-2019-0088736 '],[b'Consultant'],[b'CPM CONSULTING PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $6,000to$8,000/ $6,000/ to$8,000/ Monthly/ ...",[b'Professional'],[b'Information Technology'],[RequirementsQualifications: 4-6 Years SAP Te...
29,[b' JOB-2019-0088158 '],[b'IT Project Manager (KYC AML)'],[b'CITIBANK N.A.'],[b'Posted 25 Apr 2019'],"[/ $11,000to$14,000/ $11,000/ to$14,000/ Month...",[b'Manager'],[b'Banking and Finance'],[Requirements The candidate requires a Bachel...
30,[b' JOB-2019-0088840 '],[b'Senior Bioinformatician'],[b'TAN TOCK SENG HOSPITAL PTE LTD'],[b'Posted 25 Apr 2019'],"[/ $4,000to$6,000/ $4,000/ to$6,000/ Monthly/ ...","[b'Professional, Executive']",[b'Healthcare / Pharmaceutical'],[Requirements · Minimum a Master’s de...
31,[b' JOB-2019-0088681 '],[b'Biostatistician / Statistical Programmer'],[b'TESSA THERAPEUTICS LTD.'],[b'Posted 25 Apr 2019'],[/ Salary undisclosed/ / Closing on 25 May 2019],"[b'Middle Management, Professional']",[b'Healthcare / Pharmaceutical'],[RequirementsRequirements Master’s Degree or ...
32,[b' JOB-2019-0088378 '],[b'Senior Client Management Specialist'],[b'IHS MARKIT ASIA PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $72,000to$88,000/ $72,000/ to$88,000/ Annua...",[b'Senior Executive'],[b'Banking and Finance'],[RequirementsWhat You’ll Need: Bachelor’s de...
33,[b' JOB-2019-0088281 '],[b'Senior Business Analyst'],[b'THOMSON REUTERS CORPORATION PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $6,000to$8,000/ $6,000/ to$8,000/ Monthly/ ...",[b'Professional'],[b'Professional Services'],[RequirementsRequired skills and Education: D...
34,[b' JOB-2019-0088222 '],[b'Senior Executive / Manager (Workforce Pla...,[b'Public Service Division'],[b'Posted 25 Apr 2019'],[/ Salary undisclosed/ / Closing on 09 May 2019],[b''],[b'Public / Civil Service'],[]
35,[b' JOB-2019-0052749 '],[b'Accountant'],[b'CENTRAL MERCANTILE CORPORATION (S) LTD.'],[b'Posted 25 Apr 2019'],"[/ $3,500to$5,000/ $3,500/ to$5,000/ Monthly/ ...",[b'Manager'],[b'Accounting / Auditing / Taxation'],"[Requirements*** Knowledge of Navision system,..."
36,[b' JOB-2019-0021596 '],[b'Staff Software Engineer'],[b'INDEED SINGAPORE OPERATIONS (PTE.) LTD.'],[b'Posted 25 Apr 2019'],"[/ $12,000to$15,000/ $12,000/ to$15,000/ Month...",[b'Professional'],[b'Information Technology'],[RequirementsWe're looking for someone who Ha...
37,[b' JOB-2019-0021589 '],[b'Software Engineer'],[b'INDEED SINGAPORE OPERATIONS (PTE.) LTD.'],[b'Posted 25 Apr 2019'],"[/ $7,000to$10,000/ $7,000/ to$10,000/ Monthly...",[b'Executive'],[b'Information Technology'],[RequirementsWe're looking for someone who Ha...
38,[b' JOB-2019-0021385 '],[b'Senior Software Engineer'],[b'INDEED SINGAPORE OPERATIONS (PTE.) LTD.'],[b'Posted 25 Apr 2019'],"[/ $10,000to$12,000/ $10,000/ to$12,000/ Month...",[b'Senior Executive'],[b'Information Technology'],[RequirementsWe're looking for someone who Ha...
39,[b' JOB-2019-0088839 '],[b'Security Software Engineer'],[b'GRABTAXI HOLDINGS PTE. LTD.'],[b'Posted 25 Apr 2019'],"[/ $6,000to$12,000/ $6,000/ to$12,000/ Monthly...",[b'Professional'],[b'Security and Investigation'],[RequirementsThe must haves: Product Buildin...